# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Miscellaneous
*.tmp
*.temp
*.bak
*.orig
